{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="#" >
    <title>Christopher Tamba</title>
</head>
<body>
    <div class="big-box" id="about">
        <div class="container" id="">
            <h1 class="txt" id="main-title">Welcome to my Website!</h1>
        </div>
        <div class="container" id="data">
            <div class="" id="left-box-about">
                <img src="{% static 'img/foto gue.png' %}" alt="profile image" id="profile-img">
            </div>
            <div class="container column left" id= "right-box-about">
                <h2 class="txt subtitle">Christopher Tamba</h2>
                <p class="txt body-txt">1806235681</p>
                <p class="txt body-txt">Fakultas Ilmu Komputer, Universitas Indonesia</p>
                <p class="txt body-txt">Gadget Enthusiast, Music Lover, Beginner Guitarist, Drummer Newbie </p>
                <p class="txt body-txt">
                    An undergraduate Information System student who loves to code and playing
                    instruments. A critical thinker and good learner who always
                    curious about something new. A responsible person who capables
                    in working in a team. 
                </p>
            </div>
        </div>
    </div>
</body>
</html>