#about {
  margin: 20px 80px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  width:90%;
}
.big-box{
    width:100%;
    height:100%;
}
.container {
    align-items: center;
    display: flex;
    justify-content: center;
  }
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
#right-box-about{
    margin:10px;
    width:65%;
}
#left-box-about{
    width:35%;
}
.left{
    align-items: flex-start;
}
.txt{
    font-family:'Gill Sans', sans-serif;
}
.body-txt{ 
    font-size: 20px;
    margin-bottom:-10px;
}
.subtitle{
    font-size:55px;
}
#main-title{
    font-size:65px;
}
#profile-img{
    width:90%;
    height:90%;
}

@media screen and (max-width: 768px){
    #about{
        margin:20px 20px;
        padding:10px
    }
    #data{
        flex-direction: column;
    }
    #left-box-about{
        width:100%;
    }
    #right-box-about{
        width:100%;
    }
    #main-title{
        font-size: 50px;
        
    }
    .subtitle{
        font-size: 38px;
    }
}